<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    <style>
      th, td { padding-left: 1em; border-bottom: 1px solid #ddd; }
    </style>
  </head>
  <body>
    <h1>Classes</h1>
    {{ range $ns, $classes := .Namespaces }}
    <h2>{{ $ns }} namespace</h2>
    <dl>
    {{ range $classes }}
    <dt><a href="#{{ .Ref }}">{{ .Name }}</a></dt>
    <dd>{{ .Description }}</dd>
    {{ end }}
    </dl>
    {{ end }}

    {{ range $ns, $classes := .Namespaces }}
    {{ range $classes }}
    {{ $className := .Name }}
    <hr>
    <h1 id="{{ .Ref }}">Class {{ $className }}</h1>
    <p>Namespace: {{ $ns }}</p>
    <p>{{ .Description }}</p>

    {{ if .Properties }}
    <h2>Properties</h2>
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        {{ range .Properties }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .Type }}</td>
          <td>{{ .Description }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}

    {{ range .Constructors }}
    <h2>Constructor {{ $className }}(
    {{- range $index, $element := .Parameters }}{{ if $index }}, {{ end }}{{ $element.Name }}{{ end -}}
    )</h2>
    <p>{{ .Description }}</p>
    {{ if .Parameters }}
    <h3>Parameters</h3>
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        {{ range .Parameters }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .Type }}</td>
          <td>{{ .Description }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}
    {{ end }}

    {{ range .Methods }}
    <h2>Method{{ if .Returns.Type }} {{ .Returns.Type }}{{ end }} {{ .Name }}(
    {{- range $index, $element := .Parameters }}{{ if $index }}, {{ end }}{{ $element.Name }}{{ end -}}
    )</h2>
    <p>{{ .Description }}</p>

    {{ if .Parameters }}
    <h3>Parameters</h3>
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        {{ range .Parameters }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .Type }}</td>
          <td>{{ .Description }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}

    {{ if not .Returns.Skip }}
    <h3>Returns</h3>
    <table>
      <thead><tr><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        <tr>
          <td>{{ .Returns.Type }}</td>
          <td>{{ .Returns.Description }}</td>
        </tr>
      </tbody>
    </table>
    {{ end }}

    {{ end }}

    {{ end }}
    {{ end }}
  </body>
  <footer>
    (C) mastercard
  </footer>
</html>
